.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem rem !important;
}

.navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-dark {
  background-color: black !important;
}


.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}



.navbar-collapse {
  display: none !important;
}

#navbarHeader .nav-item {
  margin-right: 48px;
  font-size: 24px;
}


@media (min-width: 675px) {
  .nav-item {
    margin-right: 39px;
    font-size: 20px;
  }

  .navbar-collapse {
    display: inline !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .no-underline {
    text-decoration: none;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important;
  }
}