.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

main {
  flex: 1;
  background-color: var(--black);
}

.gradient-section {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
